<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 	 
 	 	<http pattern="/resources/**" security="none" />
 	 
 	 	<http auto-config="true"  use-expressions="true">
 	 		<intercept-url pattern="/" access="permitAll"/>
 	 		<intercept-url pattern="/manager/api/**" access="permitAll"/>
 	 		<intercept-url pattern="/kerberos/api/**" access="permitAll"/>
 	 		<intercept-url pattern="/kerberos/resources/**" access="permitAll"/>
 	 		<intercept-url pattern="/kerberos/login" access="permitAll" />
 	 		<intercept-url pattern="/kerberos/register" access="permitAll" />
 	 		<intercept-url pattern="/kerberos/*" access="hasRole('ROLE_USER')" />
			<intercept-url pattern="/manager/**" access="hasRole('ROLE_USER')"/>
			
			<form-login login-page='/kerberos/login'
				login-processing-url="/j_spring_security_check"
				default-target-url="/"
				username-parameter="name"
				password-parameter="password" 
				authentication-success-handler-ref="customAuthenticationProvider"/>
			
			<logout
			    logout-success-url="/"
			    delete-cookies="JSESSIONID" />
			<csrf/>
			
			<session-management session-fixation-protection="migrateSession">
		    	<concurrency-control max-sessions="1" expired-url="/login" />
			</session-management>
		
		</http>
		
	<!-- Declare an authentication-manager to use a custom userService -->
	<authentication-manager>
	     <authentication-provider ref="customAuthenticationProvider"/>
	</authentication-manager>
		
	<!-- A custom service where Spring will retrieve users and their corresponding access    levels  -->
	<beans:bean id="customAuthenticationProvider" class="com.xihuani.kerberos.auth.service.AuthenticationProviderService"/>
 	  
</beans:beans>